footer{
    background-color: #69B27D;
    .container{
        max-width: 80%;
        margin: 0 auto;
        .contact{
            display: flex;
            flex-direction: column;
            .contact-content{
                        
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-top: 40px;
                padding-bottom: 40px;
                .contact-info{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    h2{
                        font-family: 'Montserrat', sans-serif;
                        font-size: 21px;
                        font-weight: 600;
                        line-height: 25.6px;
                        color: #fff;
                    }
                    .contact-email{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        img.email-png{
                            width: 23px;
                            height: 15px;
                        }
                        p{
                            font-family: 'Nunito', sans-serif;
                            font-size: 18px;
                            font-weight: 600;
                            line-height: 21.82px;
                            color: #fff;
                            margin: 0px;
                            margin-left: 10px;
                        }
                    }
                    .contact-telefoon{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        img.tel-png{
                            width: 20px;
                            height: 20px;
                        }
                        p{
                            font-family: 'Nunito', sans-serif;
                            font-size: 18px;
                            font-weight: 600;
                            line-height: 21.82px;
                            color: #fff;
                            margin: 0px;
                            margin-left: 10px;
                        
                        }
                    }
                }
                .social-icons{
                    display: flex;
                    flex-direction: row;
                    gap: 28px;
                }
            }
        }
    }
}

/* Stijlregels voor tablet landschap */
@media (min-width: 768px) and (max-width: 1180px) and (orientation: landscape) {
    footer{
        .container{
            max-width: 90%;
        }
    }
}

/* Stijlregels voor tablet portret */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    footer{
        background-color: #69B27D;
        .container{
            max-width: 90%;
        }
    }
}

/* Stijlregels voor mobiel */
@media (max-width: 767px) {
    footer{
        .container{
            max-width: 95%;
            .contact{
                .contact-content{
                    flex-direction: column;
                    align-items: start;
                    gap: 30px;
                    .social-icons{
                        gap: 0px;
                        justify-content: space-around;
                        width: 100% ;
                    }
                }
            }
        }
    }
}