body{
    padding: 0;
    margin: 0;
    .banner{
        background-image: url('../../public/storage/img/banner.png');
        background-repeat: no-repeat;
        background-size: contain;
        .container{
            max-width: 80%;
            margin: 0 auto;
            .banner-content{
                padding: 150px 0;
                width: 32%;
                .banner-title{
                    font-family: 'Montserrat', sans-serif;  
                    font-size: 21px;
                    font-weight: 600;
                    line-height: 25.6px;
                    color: #fff;
                }   
                .banner-text{
                    font-family: 'Nunito', sans-serif;  
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 21.82px;
                    color: #fff;
                }
            }
        }
    }
    .body-blok1{
        padding-top: 100px;
        .body-blok1-content{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap:60px;
            .body-blok1-content-links{
                width: 50%;
                h1{
                    font-family: 'Montserrat', sans-serif;  
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 24.38px;
                    color: #000;
                }
            }
            .body-blok1-content-rechts{
                width: 50%;
                p{
                    font-family: 'Nunito', sans-serif;  
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 24.55px;
                    color: #000;
                }
            }
        }
    }
    .body-blok2{
        padding-top: 100px;
        padding-bottom: 100px;
        .body-blok2-content{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap:60px;
            .body-blok2-content-links{
                width: 50%;
            }
            .body-blok2-content-rechts{
                width: 50%;
                h1{
                    font-family: 'Montserrat', sans-serif;  
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 24.38px;
                    color: #000;
                }
                p{
                    font-family: 'Nunito', sans-serif;  
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 24.55px;
                    color: #000;
                }
            }
        }
    }
    .body-blok3{
        .body-blok3-content{
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap:20px;
            .iph-model{
                display: flex;
                justify-content: space-between;
                flex-direction: row;
                align-items: center;
            }
            p{
                width: 860px;
                text-align: center;
                align-self: center;
                font-family: 'Nunito', sans-serif;
                font-size: 20px;
                font-weight: 400;
                line-height: 27.55px;
                color: #000;
            }
        }
    }
    .body-blok4{
        padding-top: 100px;
        .body-blok4-content{
            display: flex;
            flex-direction: row;    
            align-items: center;
            gap:60px;
            .body-blok4-content-links{
                width: 50%;
                h1{
                    font-family: 'Montserrat', sans-serif;  
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 24.38px;
                    color: #000;
                }
                img{
                    width: 100%;
                }
            }
            .body-blok4-content-rechts{
                width: 50%;
                p{
                    font-family: 'Nunito', sans-serif;  
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 24.55px;
                    color: #000;
                }
            }
        }
    }
    .body-blok5{
        padding-top: 100px;
        .body-blok5-content{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap:130px;
            .body-blok5-content-links{
                width: 50%;
                h1{
                    font-family: 'Montserrat', sans-serif;  
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 24.38px;
                    color: #000;
                }
                img{
                    width: 100%;
                
                }
            }
            .body-blok5-content-rechts{
                width: 50%;
                p{
                    font-family: 'Nunito', sans-serif;  
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 24.55px;
                    color: #000;
                }
            }
        }
    }
    .body-blok6{
        padding-top: 100px;
        padding-bottom: 100px;
        .body-blok6-content{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap:130px;
            .body-blok6-content-links{
                width: 50%;
                h1{
                    font-family: 'Montserrat', sans-serif;  
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 24.38px;
                    color: #000;
                }
                p{
                    font-family: 'Nunito', sans-serif;  
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 24.55px;
                    color: #000;
                }
            }
            .body-blok6-content-rechts{
                width: 50%;
                
                img{
                    width: 100%;
                
                }
            }
        }
    }
}