body{
    padding: 0;
    margin: 0;
    .banner{
        background-image: url('../../public/storage/img/banner.png');
        background-repeat: no-repeat;
        background-size: cover;
        .container{
            max-width: 80%;
            margin: 0 auto;
            .banner-content{
                padding: 150px 0;
                width: 100%;
                display: flex;
                .banner-content-left{
                    width: 50%;
                    .banner-title{
                        font-family: 'Montserrat', sans-serif;  
                        font-size: 21px;
                        font-weight: 600;
                        line-height: 25.6px;
                        color: #fff;
                        text-align: left;
                    }   
                    .banner-text{
                        font-family: 'Nunito', sans-serif;  
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 21.82px;
                        color: #fff;
                        width: 75%;
                        padding-top: 10px;
                    }
                    button{
                        padding: 10px 20px;
                        font-size: 21px;
                        font-weight: 600;
                        color: white;
                        background-color: #02D7BF;
                        border: 1px solid black;
                        cursor: pointer;
                        border-radius: 5px;
                        margin-top: 20px;
                    }
                }
                .banner-content-right{
                    width: 50%;
                    align-self: center;
                    display: flex;
                    justify-content: center;
                    
                }
            }
        }
    }
    .body-blok1{
        padding-top: 100px;
        .body-blok1-content{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap:60px;
            .body-blok1-content-links{
                width: 50%;
                
            }
            .body-blok1-content-rechts{
                width: 50%;
                h1{
                    font-family: 'Montserrat', sans-serif;  
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 24.38px;
                    color: #000;
                    text-align: left;
                }
                p{
                    font-family: 'Nunito', sans-serif;  
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 24.55px;
                    color: #000;
                }
            }
        }
    }
    .body-blok2{
        padding-top: 100px;
        padding-bottom: 100px;
        .body-blok2-content{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap:60px;
            .body-blok2-content-links{
                width: 50%;
                img{
                    width: 100%;
                }
            }
            .body-blok2-content-rechts{
                width: 50%;
                h1{
                    font-family: 'Montserrat', sans-serif;  
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 24.38px;
                    color: #000;
                    text-align: start;
                }
                p{
                    font-family: 'Nunito', sans-serif;  
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 24.55px;
                    color: #000;
                }
            }
        }
    }
    .body-blok3{
        .body-blok3-content{
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap:20px;
            .iph-model{
                display: flex;
                justify-content: space-between;
                flex-direction: row;
                align-items: center;
            }
            p{
                width: 860px;
                text-align: center;
                align-self: center;
                font-family: 'Nunito', sans-serif;
                font-size: 20px;
                font-weight: 400;
                line-height: 27.55px;
                color: #000;
            }
        }
    }
    .body-blok4{
        padding-top: 100px;
        .body-blok4-content{
            display: flex;
            flex-direction: row;    
            align-items: center;
            gap:60px;
            .body-blok4-content-links{
                width: 50%;
                
                img{
                    width: 100%;
                }
            }
            .body-blok4-content-rechts{
                width: 50%;
                h1{
                    font-family: 'Montserrat', sans-serif;  
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 24.38px;
                    color: #000;
                    text-align: left;
                }
                p{
                    font-family: 'Nunito', sans-serif;  
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 24.55px;
                    color: #000;
                }
            }
        }
    }
    .body-blok5{
        padding-top: 100px;
        .body-blok5-content{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap:130px;
            .body-blok5-content-links{
                width: 50%;
                
                img{
                    width: 100%;
                
                }
            }
            .body-blok5-content-rechts{
                width: 50%;
                h1{
                    font-family: 'Montserrat', sans-serif;  
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 24.38px;
                    color: #000;
                    text-align: left;
                }
                p{
                    font-family: 'Nunito', sans-serif;  
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 24.55px;
                    color: #000;
                }
            }
        }
    }
    .body-blok6{
        padding-top: 100px;
        .body-blok6-content{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap:130px;
            .body-blok6-content-links{
                width: 50%;
                h1{
                    font-family: 'Montserrat', sans-serif;  
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 24.38px;
                    color: #000;
                    text-align: left;
                }
                p{
                    font-family: 'Nunito', sans-serif;  
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 24.55px;
                    color: #000;
                }
            }
            .body-blok6-content-rechts{
                width: 50%;
                
                img{
                    width: 100%;
                
                }
            }
        }
    }
    .body-blok7{
        padding-top: 100px;
        padding-bottom: 100px;
        h1{
            font-family: 'Montserrat', sans-serif;  
            font-size: 20px;
            font-weight: 600;
            line-height: 24.38px;
            color: #000;
            padding-bottom: 50px;
        }
        .body-blok7-content{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            gap:50px;
            img{
                width: 100px;
                height: 100px;
            }
            
        }
    }
}

/* Stijlregels voor tablet landschap */
@media (min-width: 768px) and (max-width: 1180px) and (orientation: landscape) {
    body{
        .content{
            .banner{
                .container{
                    max-width: 95%;
                    margin: 0 auto;
                    .banner-content{
                        width: 45%;
                    }
                }
            }
        }
        .body-blok1{
            .container{
                max-width: 95%;
                margin: 0 auto;
            }
        }
        .body-blok2{
            .container{
                max-width: 95%;
                margin: 0 auto;
            }
        }
        .body-blok3{
            .container{
                max-width: 95%;
                margin: 0 auto;
            }
        }
        .body-blok4{
            .container{
                max-width: 95%;
                margin: 0 auto;
            }
        }
        .body-blok5{
            .container{
                max-width: 95%;
                margin: 0 auto;
            }
        }
        .body-blok6{
            .container{
                max-width: 95%;
                margin: 0 auto;
            }
        }
        .body-blok7{
            .container{
                max-width: 95%;
                margin: 0 auto;
            }
        }
    }
}

/* Stijlregels voor tablet portret */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    body{
        .content{
            .banner{
                .container{
                    max-width: 95%;
                    margin: 0 auto;
                    .banner-content{
                        width: 100%;
                    }
                }
            }
        }
        .body-blok1{
            .container{
                max-width: 95%;
                margin: 0 auto;
                .body-blok1-content{
                    .body-blok1-content-links{
                        img{
                            width: 100%;
                        }
                    }
                }
            }
        }
        .body-blok2{
            .container{
                max-width: 95%;
                margin: 0 auto;
            }
        }
        .body-blok3{
            .container{
                max-width: 95%;
                margin: 0 auto;
            }
            .body-blok3-content{
                p{
                    width: 90%;
                }
            }
        }
        .body-blok4{
            .container{
                max-width: 95%;
                margin: 0 auto;
            }
        }
        .body-blok5{
            .container{
                max-width: 95%;
                margin: 0 auto;
            }
        }
        .body-blok6{
            .container{
                max-width: 95%;
                margin: 0 auto;
            }
        }
        .body-blok7{
            .container{
                max-width: 95%;
                margin: 0 auto;
            }
            .body-blok7-content{
                gap: 30px;
            }
        }
    }
}

/* Stijlregels voor mobiel */
@media (max-width: 767px) {
    body{
        .content{
            .banner{
                .container{
                    max-width: 95%;
                    margin: 0 auto;
                    .banner-content{
                        width: 100%;
                        padding: 100px 0;
                    }
                }
            }
        }
        .body-blok1{
            padding-top: 50px;
            .container{
                max-width: 95%;
                margin: 0 auto;
                .body-blok1-content{
                    flex-direction: column;
                    gap: 20px;
                    .body-blok1-content-links{
                        width: 100%;
                        img{
                            width: 100%;
                        }
                    }
                    .body-blok1-content-rechts{
                        width: 100%;
                    }
                }
            }
        }
        .body-blok2{
            padding-top: 50px;
            .container{
                max-width: 95%;
                margin: 0 auto;
                .body-blok2-content{
                    flex-direction: column;
                    gap: 20px;
                    .body-blok2-content-links{
                        width: 100%;
                        img{
                            width: 100%;
                        }
                    }
                    .body-blok2-content-rechts{
                        width: 100%;
                    }
                }
            }
        }
        .body-blok3{
            padding-top: 50px;
            .container{
                max-width: 95%;
                margin: 0 auto;
                .body-blok3-content{
                    gap: 20px;
                    .iph-model{
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr;
                        gap: 10px;
                    }
                    p{
                        width: 100%;
                    }
                }
            }
        }
        .body-blok4{
            padding-top: 50px;
            .container{
                max-width: 95%;
                margin: 0 auto;
                .body-blok4-content{
                    flex-direction: column;
                    gap: 20px;
                    .body-blok4-content-links{
                        width: 100%;
                        img{
                            width: 100%;
                        }
                    }
                    .body-blok4-content-rechts{
                        width: 100%;
                    }
                }
            }
        }
        .body-blok5{
            padding-top: 50px;
            .container{
                max-width: 95%;
                margin: 0 auto;
                .body-blok5-content{
                    flex-direction: column;
                    gap: 20px;
                    .body-blok5-content-links{
                        width: 100%;
                        img{
                            width: 100%;
                        }
                    }
                    .body-blok5-content-rechts{
                        width: 100%;
                    }
                }
            }
        }
        .body-blok6{
            padding-top: 50px;
            .container{
                max-width: 95%;
                margin: 0 auto;
                .body-blok6-content{
                    flex-direction: column;
                    gap: 20px;
                    .body-blok6-content-links{
                        width: 100%;
                    }
                    .body-blok6-content-rechts{
                        width: 100%;
                        img{
                            width: 100%;
                        }
                    }
                }
            }
        }
        .body-blok7{
            padding-top: 50px;
            .container{
                max-width: 95%;
                margin: 0 auto;
                .body-blok7-content{
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    gap: 20px;
                    img{
                        width: 100px;
                        height: 100px;
                    }
                }
            }
        }
    }
}