.profielchecktop {
  .profielcheck-two-column {
    display: flex;
    align-items: center;
  }

  .profielcheck-column {
    flex:1;
  }

  .profielcheck-image {
    max-width: 100%;
    height: auto;
    padding-left: 20px;
  }
}

.profielCheckForm{
  .container{
    padding: 105px 0px;
    text-align: center;

    h1{
      text-align: center;
    }

    form{
      .question-container{
        p{
          margin-bottom: 15px;
          margin-top: 5px;
        }
      }

      .button-container{
        display: flex;
        justify-content: center;
        margin-top: 20px;
        gap: 20px;

        button{
          padding: 10px 20px;
          border-radius: 5px;
          border: none;
          background-color: #69B27D;
          color: #fff;
          cursor: pointer;
          transition: all 0.3s ease;
          &:hover{
            background-color: #69b27c50;
          }
        
        }
      }

      #emailContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-top: 20px;
        input, select{
          padding: 10px;
          border-radius: 5px;
          border: 1px solid #ccc;
          width: 50%;
          margin-top: 12px;
        }
      }
    }

    .radio-label {
      display: inline-block;
      margin-right: 10px;
    
      input[type="radio"] {
          display: none;
      }
    
      .radio-button {
          display: inline-block;
          width: 20px;
          padding: 15px;
          border: 2px solid #ccc;
          border-radius: 5%;
          text-align: center;
          line-height: 20px;
          cursor: pointer;
      }
    
      input[type="radio"]:checked + .radio-button {
          background-color: #69B27D;
          color: #fff;
          border-color: #69B27D;
      }
      .radio-button:hover {
        background-color: #69b27c50;
        color: #fff;
        border-color: #69b27c50;
      }
    }
    
  }
}

@media (min-width: 768px) and (max-width: 1180px) and (orientation: landscape) {
  .profielCheckForm{
    .container{
      .radio-label {      
        .radio-button {
            display: inline-block;
            width: 20px;
            padding: 10px;
            border: 2px solid #ccc;
            border-radius: 5%;
            text-align: center;
            line-height: 20px;
            cursor: pointer;
        }
      }
    }
  }
}

// now make a media query for a smaller screen
@media (max-width: 767px) {
  .profielCheckForm{
    .container{
      .radio-label {      
        .radio-button {
            display: inline-block;
            width: 20px;
            padding: 5px;
            border: 2px solid #ccc;
            border-radius: 5%;
            text-align: center;
            line-height: 20px;
            cursor: pointer;
        }
      }
    }
  }
}

// .center-content {
//   text-align: center;
// }

// .left-aligned {
//   text-align: left;
// }

// .profielcheckform {
//   padding: 100px 0px
// }

// .radio-label {
//   display: inline-block;
//   margin-right: 10px;

//   input[type="radio"] {
//       display: none;
//   }

//   .radio-button {
//       display: inline-block;
//       width: 20px;
//       padding: 15px;
//       border: 2px solid #ccc;
//       border-radius: 5%;
//       text-align: center;
//       line-height: 20px;
//       cursor: pointer;
//   }

//   input[type="radio"]:checked + .radio-button {
//       background-color: #69B27D;
//       color: #fff;
//       border-color: #69B27D;
//   }
//   .radio-button:hover {
//     background-color: #69b27c50;
//     color: #fff;
//     border-color: #69b27c50;
//   }
// }


