@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@import "homepage.scss";
@import "profielcheck.scss";
@import "faq.scss";
@import "plattegrond.scss";
@import "informatie.scss";
@import "dashboard.scss";

@import "results.scss";	
@import "layouts/header.scss";
@import "layouts/footer.scss";

* {
    margin: 0;
    padding: 0;
}

.container{
    max-width: 80%;  
    margin: 0 auto; 
}
h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #000;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #000;
}
p{
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    color: #000;
}
/* Stijlregels voor tablet landschap */
@media (min-width: 768px) and (max-width: 1180px) and (orientation: landscape) {
    .container{
        max-width: 90%; 
    }
}

/* Stijlregels voor tablet portret */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    .container{
        max-width: 90%; 
    }
}

/* Stijlregels voor mobiel */
@media (max-width: 767px) {
    .container{
        max-width: 95%; 
    }
}
