@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@import "homepage.scss";
@import "profielcheck.scss";
@import "faq.scss";
@import "dashboard.scss";

@import "layouts/header.scss";
@import "layouts/footer.scss";

.container{
    max-width: 80%;
    margin: 0 auto;
}

* {
    margin: 0;
    padding: 0;
}