@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
body {
  padding: 0;
  margin: 0;
}
body .banner {
  background-image: url("../../public/storage/img/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
}
body .banner .container {
  max-width: 80%;
  margin: 0 auto;
}
body .banner .container .banner-content {
  padding: 150px 0;
  width: 100%;
  display: flex;
}
body .banner .container .banner-content .banner-content-left {
  width: 50%;
}
body .banner .container .banner-content .banner-content-left .banner-title {
  font-family: "Montserrat", sans-serif;
  font-size: 21px;
  font-weight: 600;
  line-height: 25.6px;
  color: #fff;
  text-align: left;
}
body .banner .container .banner-content .banner-content-left .banner-text {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.82px;
  color: #fff;
  width: 75%;
  padding-top: 10px;
}
body .banner .container .banner-content .banner-content-left button {
  padding: 10px 20px;
  font-size: 21px;
  font-weight: 600;
  color: white;
  background-color: #02D7BF;
  border: 1px solid #02d7bf;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
}
body .banner .container .banner-content .banner-content-right {
  width: 50%;
  align-self: center;
  display: flex;
  justify-content: center;
}
body .body-blok1 {
  padding-top: 100px;
}
body .body-blok1 .body-blok1-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 60px;
}
body .body-blok1 .body-blok1-content .body-blok1-content-links {
  width: 50%;
}
body .body-blok1 .body-blok1-content .body-blok1-content-rechts {
  width: 50%;
}
body .body-blok1 .body-blok1-content .body-blok1-content-rechts h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 24.38px;
  color: #000;
  text-align: left;
}
body .body-blok1 .body-blok1-content .body-blok1-content-rechts p {
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.55px;
  color: #000;
}
body .body-blok2 {
  padding-top: 100px;
  padding-bottom: 100px;
}
body .body-blok2 .body-blok2-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 60px;
}
body .body-blok2 .body-blok2-content .body-blok2-content-links {
  width: 50%;
}
body .body-blok2 .body-blok2-content .body-blok2-content-links img {
  width: 100%;
}
body .body-blok2 .body-blok2-content .body-blok2-content-rechts {
  width: 50%;
}
body .body-blok2 .body-blok2-content .body-blok2-content-rechts h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 24.38px;
  color: #000;
  text-align: start;
}
body .body-blok2 .body-blok2-content .body-blok2-content-rechts p {
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.55px;
  color: #000;
}
body .body-blok3 .body-blok3-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
body .body-blok3 .body-blok3-content .iph-model {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
body .body-blok3 .body-blok3-content p {
  width: 860px;
  text-align: center;
  align-self: center;
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 27.55px;
  color: #000;
}
body .body-blok4 {
  padding-top: 100px;
}
body .body-blok4 .body-blok4-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 60px;
}
body .body-blok4 .body-blok4-content .body-blok4-content-links {
  width: 50%;
}
body .body-blok4 .body-blok4-content .body-blok4-content-links img {
  width: 100%;
}
body .body-blok4 .body-blok4-content .body-blok4-content-rechts {
  width: 50%;
}
body .body-blok4 .body-blok4-content .body-blok4-content-rechts h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 24.38px;
  color: #000;
  text-align: left;
}
body .body-blok4 .body-blok4-content .body-blok4-content-rechts p {
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.55px;
  color: #000;
}
body .body-blok5 {
  padding-top: 100px;
}
body .body-blok5 .body-blok5-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 130px;
}
body .body-blok5 .body-blok5-content .body-blok5-content-links {
  width: 50%;
}
body .body-blok5 .body-blok5-content .body-blok5-content-links img {
  width: 100%;
}
body .body-blok5 .body-blok5-content .body-blok5-content-rechts {
  width: 50%;
}
body .body-blok5 .body-blok5-content .body-blok5-content-rechts h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 24.38px;
  color: #000;
  text-align: left;
}
body .body-blok5 .body-blok5-content .body-blok5-content-rechts p {
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.55px;
  color: #000;
}
body .body-blok6 {
  padding-top: 100px;
}
body .body-blok6 .body-blok6-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 130px;
}
body .body-blok6 .body-blok6-content .body-blok6-content-links {
  width: 50%;
}
body .body-blok6 .body-blok6-content .body-blok6-content-links h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 24.38px;
  color: #000;
  text-align: left;
}
body .body-blok6 .body-blok6-content .body-blok6-content-links p {
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.55px;
  color: #000;
}
body .body-blok6 .body-blok6-content .body-blok6-content-rechts {
  width: 50%;
}
body .body-blok6 .body-blok6-content .body-blok6-content-rechts img {
  width: 100%;
}
body .body-blok7 {
  padding-top: 100px;
  padding-bottom: 100px;
}
body .body-blok7 h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 24.38px;
  color: #000;
  padding-bottom: 50px;
}
body .body-blok7 .body-blok7-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}
body .body-blok7 .body-blok7-content img {
  width: 100px;
  height: 100px;
}

/* Stijlregels voor tablet landschap */
@media (min-width: 768px) and (max-width: 1180px) and (orientation: landscape) {
  body .content .banner .container {
    max-width: 95%;
    margin: 0 auto;
  }
  body .content .banner .container .banner-content {
    width: 45%;
  }
  body .body-blok1 .container {
    max-width: 95%;
    margin: 0 auto;
  }
  body .body-blok2 .container {
    max-width: 95%;
    margin: 0 auto;
  }
  body .body-blok3 .container {
    max-width: 95%;
    margin: 0 auto;
  }
  body .body-blok4 .container {
    max-width: 95%;
    margin: 0 auto;
  }
  body .body-blok5 .container {
    max-width: 95%;
    margin: 0 auto;
  }
  body .body-blok6 .container {
    max-width: 95%;
    margin: 0 auto;
  }
  body .body-blok7 .container {
    max-width: 95%;
    margin: 0 auto;
  }
}
/* Stijlregels voor tablet portret */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  body .content .banner .container {
    max-width: 95%;
    margin: 0 auto;
  }
  body .content .banner .container .banner-content {
    width: 100%;
  }
  body .body-blok1 .container {
    max-width: 95%;
    margin: 0 auto;
  }
  body .body-blok1 .container .body-blok1-content .body-blok1-content-links img {
    width: 100%;
  }
  body .body-blok2 .container {
    max-width: 95%;
    margin: 0 auto;
  }
  body .body-blok3 .container {
    max-width: 95%;
    margin: 0 auto;
  }
  body .body-blok3 .body-blok3-content p {
    width: 90%;
  }
  body .body-blok4 .container {
    max-width: 95%;
    margin: 0 auto;
  }
  body .body-blok5 .container {
    max-width: 95%;
    margin: 0 auto;
  }
  body .body-blok6 .container {
    max-width: 95%;
    margin: 0 auto;
  }
  body .body-blok7 .container {
    max-width: 95%;
    margin: 0 auto;
  }
  body .body-blok7 .body-blok7-content {
    gap: 30px;
  }
}
/* Stijlregels voor mobiel */
@media (max-width: 767px) {
  body .content .banner .container {
    max-width: 95%;
    margin: 0 auto;
  }
  body .content .banner .container .banner-content {
    width: 100%;
    padding: 100px 0;
  }
  body .body-blok1 {
    padding-top: 50px;
  }
  body .body-blok1 .container {
    max-width: 95%;
    margin: 0 auto;
  }
  body .body-blok1 .container .body-blok1-content {
    flex-direction: column;
    gap: 20px;
  }
  body .body-blok1 .container .body-blok1-content .body-blok1-content-links {
    width: 100%;
  }
  body .body-blok1 .container .body-blok1-content .body-blok1-content-links img {
    width: 100%;
  }
  body .body-blok1 .container .body-blok1-content .body-blok1-content-rechts {
    width: 100%;
  }
  body .body-blok2 {
    padding-top: 50px;
  }
  body .body-blok2 .container {
    max-width: 95%;
    margin: 0 auto;
  }
  body .body-blok2 .container .body-blok2-content {
    flex-direction: column;
    gap: 20px;
  }
  body .body-blok2 .container .body-blok2-content .body-blok2-content-links {
    width: 100%;
  }
  body .body-blok2 .container .body-blok2-content .body-blok2-content-links img {
    width: 100%;
  }
  body .body-blok2 .container .body-blok2-content .body-blok2-content-rechts {
    width: 100%;
  }
  body .body-blok3 {
    padding-top: 50px;
  }
  body .body-blok3 .container {
    max-width: 95%;
    margin: 0 auto;
  }
  body .body-blok3 .container .body-blok3-content {
    gap: 20px;
  }
  body .body-blok3 .container .body-blok3-content .iph-model {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
  }
  body .body-blok3 .container .body-blok3-content p {
    width: 100%;
  }
  body .body-blok4 {
    padding-top: 50px;
  }
  body .body-blok4 .container {
    max-width: 95%;
    margin: 0 auto;
  }
  body .body-blok4 .container .body-blok4-content {
    flex-direction: column;
    gap: 20px;
  }
  body .body-blok4 .container .body-blok4-content .body-blok4-content-links {
    width: 100%;
  }
  body .body-blok4 .container .body-blok4-content .body-blok4-content-links img {
    width: 100%;
  }
  body .body-blok4 .container .body-blok4-content .body-blok4-content-rechts {
    width: 100%;
  }
  body .body-blok5 {
    padding-top: 50px;
  }
  body .body-blok5 .container {
    max-width: 95%;
    margin: 0 auto;
  }
  body .body-blok5 .container .body-blok5-content {
    flex-direction: column;
    gap: 20px;
  }
  body .body-blok5 .container .body-blok5-content .body-blok5-content-links {
    width: 100%;
  }
  body .body-blok5 .container .body-blok5-content .body-blok5-content-links img {
    width: 100%;
  }
  body .body-blok5 .container .body-blok5-content .body-blok5-content-rechts {
    width: 100%;
  }
  body .body-blok6 {
    padding-top: 50px;
  }
  body .body-blok6 .container {
    max-width: 95%;
    margin: 0 auto;
  }
  body .body-blok6 .container .body-blok6-content {
    flex-direction: column;
    gap: 20px;
  }
  body .body-blok6 .container .body-blok6-content .body-blok6-content-links {
    width: 100%;
  }
  body .body-blok6 .container .body-blok6-content .body-blok6-content-rechts {
    width: 100%;
  }
  body .body-blok6 .container .body-blok6-content .body-blok6-content-rechts img {
    width: 100%;
  }
  body .body-blok7 {
    padding-top: 50px;
  }
  body .body-blok7 .container {
    max-width: 95%;
    margin: 0 auto;
  }
  body .body-blok7 .container .body-blok7-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
  body .body-blok7 .container .body-blok7-content img {
    width: 100px;
    height: 100px;
  }
}
.profielchecktop .profielcheck-two-column {
  display: flex;
  align-items: center;
}
.profielchecktop .profielcheck-column {
  flex: 1;
}
.profielchecktop .profielcheck-image {
  max-width: 100%;
  height: auto;
  padding-left: 20px;
}

.profielCheckForm .container {
  padding: 105px 0px;
  text-align: center;
}
.profielCheckForm .container h1 {
  text-align: center;
}
.profielCheckForm .container form .question-container p {
  margin-bottom: 15px;
  margin-top: 5px;
}
.profielCheckForm .container form .button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 20px;
}
.profielCheckForm .container form .button-container button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #69B27D;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
}
.profielCheckForm .container form .button-container button:hover {
  background-color: rgba(105, 178, 124, 0.3137254902);
}
.profielCheckForm .container form #emailContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}
.profielCheckForm .container form #emailContainer input, .profielCheckForm .container form #emailContainer select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 50%;
  margin-top: 12px;
}
.profielCheckForm .container .radio-label {
  display: inline-block;
  margin-right: 10px;
}
.profielCheckForm .container .radio-label input[type=radio] {
  display: none;
}
.profielCheckForm .container .radio-label .radio-button {
  display: inline-block;
  width: 20px;
  padding: 15px;
  border: 2px solid #ccc;
  border-radius: 5%;
  text-align: center;
  line-height: 20px;
  cursor: pointer;
}
.profielCheckForm .container .radio-label input[type=radio]:checked + .radio-button {
  background-color: #69B27D;
  color: #fff;
  border-color: #69B27D;
}
.profielCheckForm .container .radio-label .radio-button:hover {
  background-color: rgba(105, 178, 124, 0.3137254902);
  color: #fff;
  border-color: rgba(105, 178, 124, 0.3137254902);
}

@media (min-width: 768px) and (max-width: 1180px) and (orientation: landscape) {
  .profielCheckForm .container .radio-label .radio-button {
    display: inline-block;
    width: 20px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5%;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
  }
}
@media (max-width: 767px) {
  .profielCheckForm .container .radio-label .radio-button {
    display: inline-block;
    width: 20px;
    padding: 5px;
    border: 2px solid #ccc;
    border-radius: 5%;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
  }
}
.container h1 {
  text-align: center;
}
.container .faq-container {
  width: 100%;
  padding-bottom: 20px;
  padding-top: 20px;
  border-bottom: 1px solid #d3cdcf;
}
.container .faq-container .question {
  height: 50px;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  padding: 1rem;
  cursor: pointer;
  background-color: #fbf8f9;
  border-left: 5px solid #69b27d;
}
.container .faq-container .question span {
  color: #69b27d;
  font-size: 2.5rem;
  margin-right: 15px;
  font-weight: 600;
}
.container .faq-container .answer {
  display: none;
  align-items: center;
  height: 50px;
  background-color: white;
  color: #a9a4a5;
  padding: 1rem;
  border-left: 5px solid #b1afb0;
}
.container .faq-container .answer span {
  color: #b1afb0;
  font-size: 2.5rem;
  margin-right: 15px;
  font-weight: 600;
}
.container .faq-container .show-answer {
  display: flex;
}
.container .faq-container:last-child {
  border-bottom: none;
}

.custom-padding-bottom-50 {
  padding-bottom: 50px;
}

.plattegrond {
  width: 80%;
}

.info-body-blok1 {
  padding-top: 100px;
  padding-bottom: 100px;
}
.info-body-blok1 .body-blok2-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  padding-top: 20px;
}
.info-body-blok1 .body-blok2-content .functie {
  border: 1px solid #000;
  padding: 20px;
}
.info-body-blok1 .body-blok2-content .functie h2 {
  font-size: 18px;
}

img.iph {
  width: 300px !important;
  width: 100%;
  height: 300px !important;
}

.dashboard {
  margin: 60px 0 60px 0;
}

.container h1.dashboard__title {
  font-family: "Montserrat";
  text-align: left;
}

.user {
  background-color: rgba(230, 230, 230, 0.733);
  padding: 20px;
  margin: 20px 0 20px 0;
  border-radius: 8px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  font-family: "Nunito";
}
.user:hover {
  cursor: pointer;
}
.user__top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
  align-items: center;
  padding: 0 20px 0 20px;
  position: relative;
}
@media (max-width: 1300px) {
  .user__top {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media (max-width: 500px) {
  .user__top {
    padding: 0;
    gap: 20px;
  }
}
.user__chevron {
  position: absolute;
  right: 0;
  bottom: 0;
  max-width: 10px;
  transform: rotate(270deg);
  transition: all 300ms ease-in-out;
}
.user__averages {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px 130px;
  padding: 30px;
}
@media (max-width: 1300px) {
  .user__averages {
    padding: 0 30px 30px 0;
    gap: 10px 50px;
  }
}
@media (max-width: 785px) {
  .user__averages {
    display: flex;
    flex-direction: column;
  }
}
.user__average {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.user__average h2 {
  font-family: "Montserrat";
  font-size: 18px;
  padding: 0 10px 0 0;
  font-weight: 500;
}
@media (max-width: 785px) {
  .user__average h2 {
    font-size: 4.2vw;
  }
}
.user__average p {
  font-size: 16px;
}
@media (max-width: 785px) {
  .user__average p {
    font-size: 3.2vw;
  }
}
.user__info p, .user__info a {
  font-size: 18px;
  font-weight: 600;
  margin: 10px 0 15px 0;
}
.user__info a {
  color: white;
  text-decoration: none;
  padding: 5px 10px 5px 10px;
  background-color: rgb(87, 153, 87);
  border-radius: 8px;
}
@media (max-width: 500px) {
  .user__info a {
    font-size: 3.9vw;
  }
}
@media (max-width: 500px) {
  .user__phone {
    font-size: 3.9vw;
  }
}
.user__name {
  font-family: "Montserrat";
  margin: 0 0 30px 0;
}
@media (max-width: 500px) {
  .user__name {
    font-size: 5.5vw;
    margin: 0 0 25px 0;
  }
}
.user__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 50px;
  max-height: 0px;
  overflow: hidden;
  transition: all 300ms ease-in-out;
}
@media (max-width: 785px) {
  .user__grid {
    grid-template-columns: 1fr;
    font-size: 2.5vw;
    gap: 35px;
  }
}
.user__category th {
  text-align: left;
}

.open-user {
  max-height: 733px;
  padding: 15px 0 0 0;
}
@media (max-width: 1245px) {
  .open-user {
    max-height: 983px;
  }
}

.open-chevron {
  transform: rotate(90deg);
}

.pagination {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.pagination li {
  font-size: 16px;
}
.pagination li:first-child:hover a, .pagination li:last-child:hover a {
  background-color: white;
  color: black;
}
.pagination li a {
  text-decoration: none;
  font-family: "Montserrat";
  color: black;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  transition: all 200ms ease-in-out;
}
.pagination li a:hover {
  background-color: rgba(87, 153, 87, 0.45);
  color: white;
}
.pagination > li.active span {
  background-color: rgb(87, 153, 87);
  color: white;
  font-family: "Montserrat";
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
}

.container {
  max-width: 80%;
  margin: 0 auto;
}
.container h1 {
  text-align: center;
}
.container .faq-container {
  width: 100%;
  padding-bottom: 20px;
  padding-top: 20px;
  border-bottom: 1px solid #d3cdcf;
}
.container .faq-container .answer-header {
  display: flex;
  flex-direction: column;
  align-items: start;
  font-size: 1.2rem;
  padding: 1rem;
  cursor: pointer;
  background-color: #fbf8f9;
  border-left: 5px solid #69b27d;
}
.container .faq-container .answer-header p {
  margin: 0;
}
.container .faq-container .answer-header .link {
  color: #69a0b2;
  text-decoration: none;
  font-weight: 300;
  margin-top: 4px;
}
.container .faq-container .answer {
  display: none;
  align-items: center;
  height: 50px;
  background-color: white;
  color: #a9a4a5;
  padding: 1rem;
  border-left: 5px solid #b1afb0;
}
.container .faq-container .answer span {
  color: #b1afb0;
  font-size: 2.5rem;
  margin-right: 15px;
  font-weight: 600;
}
.container .faq-container .show-answer {
  display: flex;
}
.container .faq-container:last-child {
  border-bottom: none;
}

.questions {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0px 20px;
}
.questions p {
  margin: 0px 2px;
}
.questions p.bold {
  font-weight: 600;
}
.questions p.color-1 {
  color: #ff0000;
}
.questions p.color-2 {
  color: #ff0000;
}
.questions p.color-3 {
  color: #f92121;
}
.questions p.color-4 {
  color: #e0b32a;
}
.questions p.color-5 {
  color: #e0b32a;
}
.questions p.color-6 {
  color: #77ca2e;
}
.questions p.color-7 {
  color: #77ca2e;
}
.questions p.color-8 {
  color: #1dc31d;
}
.questions p.color-9 {
  color: #1dc31d;
}
.questions p.color-10 {
  color: #1dc31d;
}

.card {
  padding: 20px;
  border: 1px solid #d3cdcf;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.question-block {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 2px 2px;
  background-color: #f3f3f3;
}

.question-block:nth-child(even) {
  background-color: rgb(229, 229, 229);
}

/* For small devices */
@media screen and (max-width: 576px) {
  .questions {
    grid-template-columns: 1fr;
  }
}
/* For medium devices */
@media screen and (min-width: 577px) and (max-width: 992px) {
  .questions {
    grid-template-columns: 1fr 1fr;
  }
}
/* For large devices (default) */
@media screen and (min-width: 993px) {
  .questions {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
header .container {
  max-width: 80%;
  margin: 0 auto;
}
header .container .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
header .container .navbar {
  display: flex;
  gap: 50px;
  text-transform: uppercase;
}
header .container .navbar a {
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  text-decoration: none;
  color: #000;
  font-weight: 500;
}
header .container .navbar a:hover {
  color: #01B3EA;
  text-decoration: underline;
}

/* Stijlregels voor tablet landschap */
@media (min-width: 768px) and (max-width: 1180px) and (orientation: landscape) {
  header .container {
    max-width: 95%;
    margin: 0 auto;
  }
  header .container .header {
    flex-direction: column;
    gap: 20px;
  }
  header .container .navbar {
    width: 100%;
    justify-content: space-between;
  }
  header .container .navbar a {
    font-size: 16px;
  }
}
/* Stijlregels voor tablet portret */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  header .container {
    max-width: 95%;
    margin: 0 auto;
  }
  header .container .header {
    flex-direction: column;
    gap: 20px;
  }
  header .container .navbar {
    width: 100%;
    justify-content: space-between;
    gap: 20px;
  }
  header .container .navbar a {
    font-size: 16px;
  }
}
/* Stijlregels voor mobiel */
@media (max-width: 767px) {
  header .container {
    max-width: 97%;
    margin: 0 auto;
  }
  header .container .header {
    flex-direction: column;
    gap: 20px;
  }
  header .container .navbar {
    gap: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  header .container .navbar a {
    font-size: 14px;
  }
}
footer {
  background-color: #69B27D;
}
footer .container {
  max-width: 80%;
  margin: 0 auto;
}
footer .container .contact {
  display: flex;
  flex-direction: column;
}
footer .container .contact .contact-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
footer .container .contact .contact-content .contact-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer .container .contact .contact-content .contact-info h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 21px;
  font-weight: 600;
  line-height: 25.6px;
  color: #fff;
}
footer .container .contact .contact-content .contact-info .contact-email {
  display: flex;
  flex-direction: row;
  align-items: center;
}
footer .container .contact .contact-content .contact-info .contact-email img.email-png {
  width: 23px;
  height: 15px;
}
footer .container .contact .contact-content .contact-info .contact-email p {
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 21.82px;
  color: #fff;
  margin: 0px;
  margin-left: 10px;
}
footer .container .contact .contact-content .contact-info .contact-telefoon {
  display: flex;
  flex-direction: row;
  align-items: center;
}
footer .container .contact .contact-content .contact-info .contact-telefoon img.tel-png {
  width: 20px;
  height: 20px;
}
footer .container .contact .contact-content .contact-info .contact-telefoon p {
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 21.82px;
  color: #fff;
  margin: 0px;
  margin-left: 10px;
}
footer .container .contact .contact-content .social-icons {
  display: flex;
  flex-direction: row;
  gap: 28px;
}

/* Stijlregels voor tablet landschap */
@media (min-width: 768px) and (max-width: 1180px) and (orientation: landscape) {
  footer .container {
    max-width: 90%;
  }
}
/* Stijlregels voor tablet portret */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  footer {
    background-color: #69B27D;
  }
  footer .container {
    max-width: 90%;
  }
}
/* Stijlregels voor mobiel */
@media (max-width: 767px) {
  footer .container {
    max-width: 95%;
  }
  footer .container .contact .contact-content {
    flex-direction: column;
    align-items: start;
    gap: 30px;
  }
  footer .container .contact .contact-content .social-icons {
    gap: 0px;
    justify-content: space-around;
    width: 100%;
  }
}
* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 80%;
  margin: 0 auto;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #000;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #000;
}

p {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  color: #000;
}

/* Stijlregels voor tablet landschap */
@media (min-width: 768px) and (max-width: 1180px) and (orientation: landscape) {
  .container {
    max-width: 90%;
  }
}
/* Stijlregels voor tablet portret */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .container {
    max-width: 90%;
  }
}
/* Stijlregels voor mobiel */
@media (max-width: 767px) {
  .container {
    max-width: 95%;
  }
}

/*# sourceMappingURL=style.css.map */
